.icon-medium{
    font-size: 3rem;
    text-align: center;
}

.state-sensor{
    text-align: right;
    padding-right: 15%;
}

.state-title{
    font-size: 1.4rem;
    color: #4d4d4d;
}

.plant-button{
    width: 180px;
    height: 196px;
    /* background-color: rgb(6, 107, 6); */
    background-color: rgb(6, 107, 6);
    border: 1px solid rgb(255, 255, 228);
    font-size: 2.2rem;
}

.plant-button:hover{
    background-color: rgb(26, 172, 26);
}

.menu:hover{
    background-color: #000000;
    color: white;
    width: 100%;
}

.para{
    text-align: justify;
}