.icon-medium{
    font-size: 3rem;
    text-align: center;
}

.state-sensor{
    text-align: right;
    padding-right: 15%;
}

.state-title{
    font-size: 1.4rem;
    color: #4d4d4d;
}

.plant-button{
    width: 100px;
    height: 100px;
}